<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
     <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').hide();
            $('button').click(function() {
                $('form').show();
            });
            $('.delete-meal').click(function() {
                var url = $('.delete-meal').attr('href');
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function(result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <p>{{ meal.meal_name }}</p>
   <button class="edit-meal">Edit Meal</button>
   <form id="meal-form" action="/meals/{{ meal.id }}" method="POST">
        {{ form.csrf_token }}
        {{ form.meal_name.label }} {{ form.meal_name(size=20, placeholder=meal.meal_name) }}
        <input type="submit" value="Submit"/>
    </form>
    <a class="delete-meal" href="/meals/{{ meal.id }}">Delete this meal</a>
</body>
</html>